
<!-- vehiculos.component.html  <div class="card-columns">   -->
<br><br>

<div class="container">
  <div class="row">
    <div class="col-md-4" *ngFor="let auto of autos">
      <div class="card">
            <h1 class="card-title">{{ auto.dominio }}</h1>
            <h4>Marca {{ auto.marca }}</h4>
            <h4>Modelo {{ auto.modelo }}</h4>
            <h4>{{ auto.kilometros }}km</h4>
            <button
              type="button"
              class="btn"
              [ngClass]="auto.alquilado ? 'btn-danger' : 'btn-info'">
              {{ auto.alquilado ? 'Alquilado' : 'Libre' }}
            </button>
      </div>
      <br>
    </div>   
  </div>
</div>

<br><br>
