<!--<p></p>

<div class="container mt-3">
    <br>
    <div class="card bg-info text-white">
      <div class="card-body">Desayunos exquisitos</div>
    </div>
    <br>

    <div class="row">
      <div *ngFor="let desayuno of desayunos" class="col-md-4 mb-4">
        <div class="card">
          <img class="card-img-top" [src]="desayuno.imagen" alt="Card image">
          <div class="card-body">
            <h4 class="card-title">{{ desayuno.nombre }}</h4>
            <p class="card-text">{{ desayuno.descripcion }}</p>           
          </div>
        </div>
      </div>
    </div>


    <br>
    <div class="card bg-warning text-white">
      <div class="card-body">Paseos imperdibles</div>
    </div>
    <br>
    <div class="card bg-danger text-white">
      <div class="card-body">Sesiones de masajes</div>
    </div>
  </div>-->