<!-- Jumbotron debajo -->

<div class="mt-4 p-5 bg-dark text-white rounded">
  <h1>Bienvenidos</h1>
  <p>Tu viaje comienzo con nosotros. En <span style="font-weight: bolder;" >M&M</span> ofrecemos una amplia variedad de vehículos para que encuentres el que mejor se adapte a tus necesidades. Ya sea por trabajo, vacaciones o una escapada de fin de semana, estamos listos para acompañarte con comodidad, seguridad y confianza.</p>
</div>



<!-- Carousel debajo -->
<div id="demo" class="carousel slide" data-bs-ride="carousel">

  <!-- Indicators/dots -->
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#demo" data-bs-slide-to="0" class="active"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="1"></button>
    <button type="button" data-bs-target="#demo" data-bs-slide-to="2"></button>
  </div>

  <!-- The slideshow/carousel -->
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://static.latamautos.com/ghost/uploads/sites/8/2019/01/29233519/agencia-de-autos-5.jpg" alt="tomando mate" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://media.airedesantafe.com.ar/p/26ace613058fa9499482b4305579454c/adjuntos/268/imagenes/002/384/0002384154/1200x675/smart/cabanas-kees-familiajpg.jpg" alt="en pileta" class="d-block w-100">
    </div>
    <div class="carousel-item">
      <img src="https://media.infocielo.com/p/dbc6bcdde57cfd82955b5b47f3d9eaa1/adjuntos/299/imagenes/001/307/0001307849/1200x675/smart/turismo-rural-gandara-chascomus-refugio-el-vergeljpg.jpg" alt="cielo naranja" class="d-block w-100">
    </div>
  </div>

  <!-- Left and right controls/icons -->
  <button class="carousel-control-prev" type="button" data-bs-target="#demo" data-bs-slide="prev">
    <span class="carousel-control-prev-icon"></span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#demo" data-bs-slide="next">
    <span class="carousel-control-next-icon"></span>
  </button>
</div>



