<div class="clientes-container">
  <div class="clientes-row">
    <div class="cliente-col" *ngFor="let cliente of clientes">
      <div class="cliente-card">
        <div class="cliente-card-body">
          <h4 class="cliente-titulo">{{ cliente.dni }}</h4>
          <p><strong>Nombre completo:</strong> {{ cliente.nombreCompleto }}</p>
          <p><strong>Dirección:</strong> {{ cliente.direccion }}</p>
          <p><strong>Teléfono:</strong> {{ cliente.telefono }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
