<footer class="footer text-white pt-4">
  <div class="container-fluid px-5">
    <div class="row">

      <!-- Información de contacto -->
      <div class="col-md-4 mb-4">
        <h6 class="titulo-footer">Contacto</h6>
        <p><i class="fas fa-envelope me-2"></i>infoagenciaM&M&#64;gmail.com</p>
        <p><i class="fas fa-envelope me-2"></i>atencionalclienteM&M&#64;gmail.com</p>
        <p><i class="fas fa-phone me-2"></i>+54 2494 567 88</p>
        <p><i class="fas fa-phone me-2"></i>+54 2494 567 99</p>
        <p><i class="fas fa-comment-dots me-2"></i>WSP 15 234 567 22</p>
      </div>

      <!-- Enlaces útiles -->
      <div class="col-md-2 mb-4">
        <h6 class="titulo-footer">Accesos</h6>
        <p><a class="enlace-footer" routerLink="/home">Inicio</a></p>
        <p><a class="enlace-footer" routerLink="/vehiculos">Vehículos</a></p>
        <p><a class="enlace-footer" routerLink="/reservas">Reservas</a></p>
        <p><a [routerLink]="['/contacto']"fragment="top-contacto">Contacto</a></p>
      </div>

      <!-- Promociones bancarias -->
      <div class="col-md-3 mb-4">
        <h6 class="titulo-footer">Promos Bancarias</h6>
        <p><a href="https://www.santander.com.ar/personas" target="_blank">Santander Río</a></p>
        <p><a href="https://www.google.com/search?client=safari&rls=en&q=banco+galicia&ie=UTF-8&oe=UTF-8" target="_blank">Banco Galicia</a></p>
        <p><a href="https://www.bna.com.ar/Personas" target="_blank">Banco Nación</a></p>
        <p><a href="https://www.bancoprovincia.com.ar/home/" target="_blank">Banco Provincia</a></p>
      </div>

      <!-- Medios de pago -->
      <div class="col-md-3 mb-4">
        <h6 class="titulo-footer">Medios de Pago</h6>
        <p>Visa, MasterCard, Débito</p>
        <p>Mercado Pago, Transferencias</p>
        <p>CBU: 000000000000000000001</p>
        <p>Alias: agenciam&m.alquiler</p>
      </div>
    </div>

    <!-- Línea divisoria -->
    <hr class="mb-3 mt-2">

    <!-- Redes sociales -->
    <div class="text-center mb-3">
      <a class="me-3 icono-red" href="#"><i class="fab fa-facebook-f"></i></a>
      <a class="me-3 icono-red" href="#"><i class="fab fa-instagram"></i></a>
      <a class="me-3 icono-red" href="#"><i class="fab fa-whatsapp"></i></a>
    </div>

    <!-- Derechos de autor -->
    <div class="text-center copyright">
      © 2025 Agencia M&M - Todos los derechos reservados.
    </div>
  </div>
</footer>
